<div class="container">
  <div class="grid">
    <div class="col-10 md:col-8 lg:col-6 mb-2 ml-auto">
      <div class="p-fluid">
        <span class="p-input-icon-left p-input-filled">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" (keyup)="searchKey($event)" />
        </span>
      </div>
    </div>
    <div class="col-2 md:col-2 lg:col-1 mr-auto">
      <p-splitButton styleClass="p-button-text p-button-warning  mb-2" [model]="this.items">
      </p-splitButton>
    </div>
  </div>
  <div class="grid">
    <div class="col-6 md:col-3 lg:col-3" *ngFor="let item of tvshows">
      <item [itemData]="item"></item>
    </div>
  </div>
  <div>
    <p-paginator
      [rows]="20"
      [totalRecords]="10000"
      (onPageChange)="pagenate($event)"
      #p
    ></p-paginator>
  </div>
</div>
