:host ::ng-deep .p-element > .p-paginator {
  padding: 0.5rem 0rem;
}
:host ::ng-deep .pi-chevron-down:before {
  content: '\e9b7';
}
:host ::ng-deep .p-splitbutton-defaultbutton {
  display: none;
}

@media only screen and (max-width: 600px) {
  :host ::ng-deep .p-tieredmenu.p-tieredmenu-overlay {
    left: -150px;
  }
}
