<slider [items]="sliderData"></slider>
<app-item-banner [items]="upcomingMovies" title="Upcoming Movies"></app-item-banner>
<app-item-banner [items]="popularMovies" title="Popular Movies"></app-item-banner>
<app-item-banner [items]="topRatedMovies" title="Top Rated Movies"></app-item-banner>
<app-item-banner [items]="popularTvShows" title="Popular Tv Shows"></app-item-banner>
<app-item-banner [items]="topRatedTvShows" title="Top Rated Tv Shows"></app-item-banner>

<!-- <app-item-banner></app-item-banner> -->
